<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../assets/default.css">

    <title>A happy little accident</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="quote-top">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, vero?
    </div>

    <div class="page-wrap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi harum consectetur sit quam perspiciatis.
        Perspiciatis magnam molestiae quia ipsam perferendis dignissimos quas, odit, excepturi sit quidem distinctio
        suscipit dolores id?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, aperiam? Id veritatis nisi deleniti ullam
        a, possimus corporis voluptate tenetur! Fuga molestiae doloribus quidem eligendi natus quos ullam, debitis a.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium maiores maxime dolores quisquam dolorum est
        corporis, similique ducimus quo exercitationem placeat iure, quos deleniti aliquam adipisci officiis rem nisi
        repellendus?

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum amet magnam odit quaerat! Ut repellat deserunt
        quo earum at saepe assumenda labore, officiis facilis, modi itaque quae nemo, sequi error?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, voluptatibus similique maxime non ad
        explicabo officia temporibus, fugit quos suscipit at architecto maiores porro odit minima unde est id molestiae!
        </p>
            
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis magnam, neque placeat cum officiis laborum et eius
        temporibus, sit ad fuga exercitationem animi modi assumenda dignissimos minus iste quia sed.

        <hr>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nostrum quisquam veritatis cum porro est rerum,
        architecto ratione ad tempore neque explicabo, totam iste minus nihil fugiat. Placeat, voluptatibus obcaecati.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est consectetur quasi officiis quidem placeat quisquam
        optio magni nihil molestias possimus tenetur nobis laboriosam rem esse, temporibus facilis voluptas error eaque
        ipsa laudantium ipsam reiciendis dolores? Culpa impedit debitis consectetur id neque ullam explicabo a minima,
        atque doloremque dolores soluta corporis magni libero quisquam praesentium? Praesentium suscipit incidunt
        mollitia dignissimos consequuntur blanditiis quam itaque reprehenderit molestias voluptates labore ducimus, amet
        officia iure impedit recusandae a nobis unde at repudiandae veritatis. Porro cumque magnam aut? Itaque molestiae
        sit officiis cumque vitae, ex necessitatibus at autem quam explicabo consequuntur doloribus quaerat labore
        maiores sapiente sint consequatur aut, excepturi aliquam eos dolor. Cumque perspiciatis commodi id voluptas aut,
        culpa eum ab porro assumenda rerum dicta, necessitatibus voluptatem modi optio impedit harum quibusdam in
        doloribus laboriosam. Consequatur, maxime quis! Ex, facilis! Tempora magni eum tempore atque mollitia
        praesentium, voluptate optio quod cum et tenetur aspernatur iure officia, porro dolorem quibusdam accusamus unde
        dolorum modi, vero ratione eveniet vitae. Et quis consequuntur magni repudiandae maxime, asperiores fugiat
        suscipit perferendis voluptatum ipsam eveniet quidem! Saepe inventore iusto magnam voluptatem adipisci officia
        aspernatur, amet autem iure deleniti animi, nulla quidem odit, voluptas doloremque atque nam maxime corporis?
        Deleniti id quaerat, sunt in ducimus tempore impedit et veniam explicabo error consequuntur est harum voluptates
        minima nulla quisquam fugit porro debitis sed facere eos assumenda quae omnis. Cum aliquid hic fuga tenetur
        dignissimos quod? Accusantium laboriosam quas quam in corporis rerum delectus ratione illum reprehenderit
        similique adipisci officiis unde vel ullam nulla repellat omnis explicabo a sequi cupiditate aut, assumenda
        voluptas. Magnam dolorem laudantium nesciunt dignissimos. Pariatur, ratione, reprehenderit exercitationem iste,
        magni quia voluptatum sunt architecto eligendi rem voluptates. Porro vitae quam voluptatibus laborum
        exercitationem corporis ipsam qui numquam quo excepturi itaque voluptas eaque tenetur fugit neque officia saepe
        facilis quos quasi rerum commodi, modi inventore? Quo voluptatibus velit ipsa aliquid ullam enim quidem
        distinctio nam itaque necessitatibus dolor officiis fugit iure, explicabo voluptates repellendus corporis at eum
        vero minus inventore. Consequuntur quasi adipisci, pariatur voluptatem rerum nesciunt ipsum doloremque
        reprehenderit sequi similique ad illo ratione perspiciatis alias culpa modi vitae aspernatur asperiores quam
        iste facilis voluptate non. Porro harum eum amet voluptatum consectetur laudantium rerum sed qui debitis, nam
        ratione natus tempore doloribus aliquam! Quas ipsam neque natus tenetur quod pariatur corrupti dolores veniam,
        iure vero exercitationem iste doloremque, aspernatur architecto perferendis consequatur placeat sequi qui. Ab
        porro, laborum autem sunt earum nisi officia architecto. Nam accusamus excepturi quas? Explicabo similique,
        natus, delectus adipisci nobis praesentium nihil dicta deserunt reprehenderit voluptatum tempore repellat at
        blanditiis neque pariatur eveniet error dignissimos? Porro saepe tempore, est debitis aperiam ducimus tenetur
        quo odit vel quis! Molestiae velit debitis libero praesentium ipsam est recusandae ad autem repellendus harum
        nemo quas, et beatae adipisci quos eveniet quaerat mollitia voluptatem quidem blanditiis facere voluptatibus?
        Ab, facere! Veniam nulla ratione error repudiandae numquam quidem dolores eligendi similique delectus ipsa
        cupiditate incidunt, repellat corrupti magni fugit deserunt facilis, rerum unde natus exercitationem! Delectus
        quisquam vero in nihil, similique qui neque autem quidem, quasi corrupti sapiente mollitia aliquam quas.
        Necessitatibus, consequatur quis quo ipsum, sit corrupti, doloremque atque vel consectetur tempore repudiandae
        obcaecati. Id ipsum veniam culpa dignissimos optio! Amet, voluptas nostrum explicabo culpa tempore sapiente
        consequuntur molestiae eaque quo expedita recusandae asperiores tempora perspiciatis nam aperiam unde labore et
        voluptatibus in beatae non fugiat ratione vero quae. Unde fugiat quo minima animi necessitatibus quos quasi
        deserunt, ullam, facere tempora sapiente earum cupiditate recusandae at iusto? Quos alias eaque animi dolorum?
        Rerum natus pariatur eius maiores ducimus eum iste vero vel reiciendis non omnis blanditiis incidunt, maxime
        laborum!

        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>

    </div>

    <div class="quote-bottom">
        
    </div>
</body>

</html>